/* OVERRIDE */
.c-comment {
    border:1px solid  #FCFC6B;
    background-color:#FFFFBD;
}

.c-comment .yui-widget-hd {
    background-color:#FCFC6B;
}

.c-comment a.c-close, .c-comment a.c-show-scope  {
    background-position: 0 -162px ;
}
