/* YUI OVERLAY */
/* Overlay Look/Feel */
.yui-overlay-content {
    border:1px solid #C1C1C1 ;
    background-color:#F7F7F7 ;
}

.yui-overlay-content .yui-widget-hd {
    background-color:#ECECEC ;
}

.c-comment a.c-close, .c-comment a.c-show-scope, .c-newcomment a.c-close {
    background-position: 0 -118px;
}

