.c-scope.c-count-1 {
    background-color : #c9ddff;
}
.c-scope.c-count-2 {
    background-color : #bdd5ff;
}
.c-scope.c-count-3 {
    background-color : #b0ccff;
}
.c-scope.c-count-4 {
    background-color : #a3c4ff;
}
.c-scope.c-count-5 {
    background-color : #96bcff;
}
.c-scope.c-count-6 {
    background-color : #8ab4ff;
}
.c-scope.c-count-7 {
    background-color : #7dacff;
}
.c-scope.c-count-8 {
    background-color : #70a3ff;
}
.c-scope.c-count-9 {
    background-color : #639bff;
}
.c-scope.c-count-10 {
    background-color : #5793ff;
}
.c-scope.c-count-11, .c-scope.c-count-12, .c-scope.c-count-13, .c-scope.c-count-14, .c-scope.c-count-15, .c-scope.c-count-16, .c-scope.c-count-17, .c-scope.c-count-18, .c-scope.c-count-19, .c-scope.c-count-20, .c-scope.c-count-21, .c-scope.c-count-22, .c-scope.c-count-23, .c-scope.c-count-24, .c-scope.c-count-25 {
    background-color : #4a8bff;
}

.c-scope {
    _background-color : #ededed !important;
}

.cursor_pointer {
    cursor: pointer;    
}

.c-count-1 {
    background-color : #ffffa8;
    cursor: pointer;    
}

.c-count-2{
    background-color : #fff6a1;
    cursor: pointer;    
}

.c-count-3{
    background-color : #ffeb99;
    cursor: pointer;    
}

.c-count-4 {
    background-color : #ffde91;
    cursor: pointer;    
}

.c-count-5 {
    background-color : #ffd08a;
    cursor: pointer;    
}

.c-count-6 {
    background-color : #ffc182;
    cursor: pointer;    
}

.c-count-7 {
    background-color : #ffaf7a;
    cursor: pointer;    
}

.c-count-8 {
    background-color : #ff9d73;
    cursor: pointer;    
}

.c-count-9 {
    background-color : #ff896b;
    cursor: pointer;    
}

.c-count-10 {
    background-color : #ff7363;
    cursor: pointer;    
}

/* cf. gNbColorGradSetting */
.c-count-11, .c-count-12, .c-count-13, .c-count-14, .c-count-15, .c-count-16, .c-count-17, .c-count-18, .c-count-19, .c-count-20, .c-count-21, .c-count-22, .c-count-23, .c-count-24, .c-count-25 { 
    background-color : #ff5c5c;
    cursor: pointer;    
}
