/* Syles for font alternatives */
#textcontainer {
  font-size: 14px;
  line-height: 20px;
}
  
#textcontainer.modern {
  font-family: Lora, Georgia, serif;
}
 
#textcontainer.classic {
  font-family: arial, helvetica, clean, sans-serif;
}
 
#textcontainer.code {
  font-family: courier; 
}
  
#textcontainer h1 {
  font-size: 22px; 
  line-height: 24px;
}

#textcontainer h2 {
  font-size: 16px; 
  line-height: 18px;
}

#textcontainer h3 {
  font-size:14px; 
  line-height: 16px;
}

#textcontainer.modern h1,
#textcontainer.modern h2,
#textcontainer.modern h3,
#textcontainer.modern h4,
#textcontainer.modern h5,
#textcontainer.modern h6 {
  font-family: 'PT Sans', Verdana, sans-serif;
}

/* Styles for footnotes using Drupal module 'footnotes' */
#textcontainer .footnotes {
  clear: both;
  margin-top: 4em;
  margin-bottom: 2em;
  border-top: 1px solid #000000;
  font-size: 0.9em;
}

#textcontainer .see-footnote {
  vertical-align: top;
  position: relative;
  top: -0.25em;
  font-size: 0.9em;
  text-decoration: none;
}

#textcontainer ul.footnotes {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#textcontainer ul.footnotes li {
  margin-left: 2.5em;
  list-style-type: none;
  background: none;
}

#textcontainer ul.footnotes {
  position: relative; 
}

#textcontainer .footnotes .footnote-label {
  position: absolute;
  left: 0px;
  z-index: 2;
  text-decoration: none;
}

#textcontainer .see-footnote:target,
.footnotes .footnote:target {
  background-color: #eeeeee;
}

#textcontainer .see-footnote:target {
  border: solid 1px #aaaaaa;
}

#textcontainer .footnotes .footnote-multi {
  vertical-align: top;
  position: relative;
  top: -0.25em;
  font-size: 0.75em;
}
