
define ("WORKSPACE_URL", 'http://192.168.2.61:8000/');
define ("USER_ADMIN", '');
define ("PASS_ADMIN", '');

define ("USER_EDIT", '');
define ("PASS_EDIT", '');

define ("USER_COM", '');
define ("PASS_COM", '');

function define (name, value) {
    Object.defineProperty (exports, name, {
        value:      value,
        enumerable: true
    });
}

