syntax: glob

*.pyc
*~

parts
store
eggs
bin
develop-eggs
downloads

.Python
.installed.cfg
.pydevproject
.settings
.travis-solo
.vagrant
.idea/workspace.xml

recreate
settings_local.py
src/comt.egg-info
urls_local.py

include/
lib/
local/
mercurial-recipe/

buildout-dev.cfg
dev/modules/
dev/custom.yaml
src/cm/settings_dev.py
test-suite/clean-testserver.sh
test-suite/karma.conf.dev.js
test-suite/node_modules/
test-suite/start-test-suite-dev.sh
test-suite/start-testserver.sh
test-suite/workspace.info.dev.js
test-suite/workspace.info.js
