syntax: glob

*.pyc
*~

parts
store
eggs
bin
develop-eggs
downloads

.Python
.installed.cfg
.pydevproject
.settings
.travis-solo
.vagrant

recreate
settings_local.py
src/comt.egg-info
urls_local.py

include/
lib/
local/
mercurial-recipe/

