language: python
python:
  - "2.7"

addons:
  - postgresql: "9.3"

# Install OS dependencies
before_install:
  - sudo rm -rf /dev/shm && sudo ln -s /run/shm /dev/shm
  - sudo apt-get update -qq
  - sudo apt-get install -y git-core python-dev g++ libtidy-dev pandoc libpq-dev

# Install Python dependencies
install:
  - python bootstrap-buildout.py
  - bin/buildout -v
  - cp deploy/settings_travis.py settings_local.py

before_script:
  - psql -c 'create database comt;' -U postgres

# Run tests
script:
  - bin/django test --settings=settings
