#
# Production
#
Django==1.3.7
django-tagging==0.3.1
psycopg2==2.4.1

BeautifulSoup
MySQL-python
Pillow
chardet
cssutils
django-flash
django-piston
feedparser
html5lib
pexpect
python-magic
pytidylib
pytz
pyyaml

#
# Development
#
pytest
pytest-django
pytest-cov
