# Production
django==1.3
django-tagging==0.3.1
BeautifulSoup
Pillow
chardet
django-flash
feedparser
html5lib
psycopg2
python-memcached
pytidylib
pytz
pyyaml
simplejson
south
cssutils
pexpect

# Development
pytest
pytest-django
