    /**
     *  Basic Layout Theme
     */

.ui-layout-pane { /* all 'panes' */
    background: #FFF; 
/*    border:     1px solid #BBB;*/
    padding:    0; 
    margin:    0; 
    overflow:   auto;
}
.ui-layout-pane-north .ui-tabs-nav {
        /* don't need border or rounded corners - tabs 'fill' the pane */
        border-top:     0;
        border-left:    0;
        border-right:   0;
        padding-bottom: 0 !important;
        -moz-border-radius:     0;
        -webkit-border-radius:  0;
    }

.ui-layout-resizer { /* all 'resizer-bars' */ 
    border-bottom:     1px solid #BBB;
	    background: #DDD; 
    } 
    .ui-layout-resizer-open:hover { /* mouse-over */
        background: #9D9; 
    }

.ui-layout-toggler { /* all 'toggler-buttons' */ 
    background: #E7E7E7; 
    } 
    .ui-layout-toggler-closed { /* closed toggler-button */ 
        background: #E7E7E7; 
        border-bottom: 1px solid #BBB; 
        border-top: 1px solid #BBB; 
    } 
    .ui-layout-toggler .content { /* toggler-text */ 
        font: 8px bold "Droid Sans", Verdana, Arial, Helvetica, sans-serif;
    }
    .ui-layout-toggler:hover { /* mouse-over */ 
        background: #AAA; 
        } 
/* class to make the 'draggable iframe mask' visible 
div.ui-draggable-iframeFix {
    opacity: 0.2 !important;
    filter:  alpha(opacity=20) !important;
    background-color: #666 !important;
}*/
/* override YUI's base for jquery tabs*/
.ui-tabs ul li {
    list-style: none;
}


.outer-north, .inner-north{
    font-size:90%;
}

#c_filter_btn {
/*       font-size:1.4em;*/
}

#c-right-btn, #c-msg-wrapper {
  float: right;
  margin-top: 4px;
}
.f-msg-cls {
    padding-right:2px;
    font-weight:normal;
    margin-left:5px ;
    margin-right:5px ;
/*    border:1px solid #000;*/
    color:#0000C0 ;
/*    background-color:#0000C0 ;*/
}

.f-msg-e {
/*    background-color:#C00000 ;*/
    color:#C00000 ;
}

.f-msg {
/*    background-color:#00C000 ;*/
    color:#00C000 ;
}

/* jquery custom overrides */
.inner-north {
    border-top : none ;
    border-right : none ;
    border-left : none ;
    padding : 0 ;
}

#header-nobck {
    background : none ;
/*    border : none ;*/
}

.inner-north ul li {/* override YUI's base for jquery tabs*/
    list-style: none;
}
.inner-north .ui-tabs-nav li a {
    padding:0.4em 2em;
}
.ui-layout-pane-north {
    overflow: hidden !important;
}

#outer-north {
    padding:4px;
}

/*#c_filter_results {
	font-weight:bold;
}*/

.initially_hidden {
    display:none;
}

.frame_helptext {
	font-size:77%;
}

th, td {
border:0;
padding:0;
}

#c_filter input[type="text"], #c_filter select{
  width:100px;
}

#c_filter table {
  font-size: 10px;
}

.ui-slider-horizontal {
    /*height:0.5em;*/
    font-size:0.7em;
}

.ui-slider-handle {
    /*height:0.8em;*/
    width:0.8em;
}

#c_slider .ui-slider-handle {
  margin-left: 0;
  top: -0.2em;
  background: transparent url("../../img/handle.png") no-repeat top left;
  border: none;
  height: 12px;
  width: 12px;
}

#print_export_form input, #print_export_form label {
display: block ;
}

#c_f_res_details {
	font-size:77%;
}

#c_slider {
  border: 1px solid #DDDDDD;
  background: transparent url("../../img/dot.png") repeat-x 0 1px;
}

#c-right-btn img {
margin-right:5px;
}
 #dialog_print_export select {
    margin-bottom:10px;
    margin-top:4px;
 }
 
#add_comment_btn {
  position:absolute;
  left:3px; 
  z-index:999;
  cursor:pointer;
  padding: 3px 5px;
  background-color: #fece46;
  color:#050;
  font: bold 70% "Droid Sans", 'trebuchet ms',helvetica,sans-serif;
  filter:progid:DXImageTransform.Microsoft.Gradient
  (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
  -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}

#add_comment_btn:hover {
  color:#030;
}

#add_comment_btn:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}

#add_comment_btn.initially_hidden {
    display:none;
}

#outer-north {
  font: 13px "Droid Sans", Verdana, sans-serif;
}

#header-nobck {
  font: 13px "Droid Sans", Verdana, sans-serif;
}

#c_filter, #c_filter select, #c_filter input, #c_filter button,
#c_preferences, #c_preferences select, #c_preferences input, #c_preferences button,
#c_text_preferences, #c_text_preferences select, #c_text_preferences input, #c_text_preferences button {
  font: 12px "Droid Sans", Verdana, sans-serif;
}
