---
#root_path  : ../
#vm_box     : wheezy-73-x64
#vm_box_url : http://puppet-vagrant-boxes.puppetlabs.com/debian-73-x64-virtualbox-puppet.box
#vm_ip      : 172.16.1.2
#vm_name    : coment_dev

#sysconfig::params::db_name : coment_custom
#sysconfig::params::db_user : coment_user_cutom
#sysconfig::params::db_pw   : coment_pw_custom
#sysconfig::params::db_host : 127.0.0.1_custom
#sysconfig::params::db_port : 5433

#sysconfig::params::testserver_port : 8001

#sysconfig::params::superuser_name   : admin_custom
#sysconfig::params::superuser_pw     : dev@co-ment_custom
#sysconfig::params::user_edit_name   : user-edit
#sysconfig::params::user_edit_pw     : user-edit@co-ment
#sysconfig::params::user_com_name    : user-com
#sysconfig::params::user_com_pw      : user-com@co-ment
#sysconfig::params::user_observ_name : user-observ
#sysconfig::params::user_observ_pw   : user-observ@co-ment

