{% load com %}
{% load i18n %}
<div class="pagebreakhere" style="font-size: 10pt;">
<hr />
{% for comment in comments %}
	<div>
    {% if comment.is_reply %}
    	({{ comment.num }}) 
    {% else %}
        <b>[{{ comment.num }}]</b> 
    {% endif %}
	</div>
	<div style="border-bottom: thin solid black; margin-bottom: 5pt; padding-bottom: 2pt; padding-left: 10pt;">
    <p>
      {{ comment.title }}<br />
  	  {% blocktrans with comment.get_name as name and comment.created|local_date:tz as date %}by {{ name }} on {{ date }}{% endblocktrans %}<br />
  	  {{ comment.content }}
    </p>
    {% if comment.tags %}
      <p style="font-size: 8pt;">tags: {{ comment.tags }}</p>
    {% endif %}
	</div>
{% endfor %}
</div>
