<script type="text/javascript">
<!--
// tz from Django : {{ tz }}
{% if tz_installed %}
    {% if tz %}
        var tz = '{{ tz }}';
    {% else %}
        $(function() {
            var d = new Date();
            tz = -d.getTimezoneOffset()/60;
            $.post("{% url timezone_set %}", { tz: tz }, function(data){
                if ($.browser != 'msie') {
                    window.location = window.location;
                }
            });
        })
    {% endif %}
{% endif %}
-->
</script>
