{% extends "site/layout/base_workspace.html" %}
{% load i18n %}
{% load com %}

{% block head %}
{% endblock %}

{% block content %}

<h1 class="main_title">
{% if CONF.f_get_logo_url %}
<div><a title="{% blocktrans %}back to workspace{% endblocktrans %}" alt="logo" class="title" href="{% url index %}"><img src="{{ CONF.f_get_logo_url }}" /></a></div>
{% endif %}

{% if CONF.workspace_name %}
<a title="{% blocktrans %}back to workspace{% endblocktrans %}" class="title" href="{% url index %}">{{ CONF.workspace_name }}</a>
{% endif %}
</h1>
<h1>{% blocktrans %}Activate your account{% endblocktrans %}</h1>

<form id="activate" enctype="multipart/form-data" class="wizard-form" action="." method="post">
<table class="wide_form">
    <tbody>
        {% for form in forms %}
            {% include "site/macros/form_fields.html" %}
        {% endfor %}
    <tr>
        <td style="vertical-align: top; width: 20%; text-align:right;">
        </td>
        <td>
            <label></label>
            <input name="activate" type="submit" value="{% blocktrans %}Activate{% endblocktrans %}"/>
        </td>
    </tr>
    </tbody>
</table>
</form>
{% endblock %}
