{% extends "site/layout/base_workspace.html" %}
{% load com %}
{% load i18n %}

{% block title %}
{% blocktrans %}Reset my password{% endblocktrans %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<h1>{% blocktrans %}Reset my password{% endblocktrans %}</h1>

{% if form %}
<form id="profile" enctype="multipart/form-data" class="wizard-form" action="." method="post">{% csrf_token %}

<table class="wide_form">
    <tbody>
            {% include "site/macros/form_fields.html" %}
    <tr>
        <td style="vertical-align: top; width: 20%; text-align:right;">
        </td>
        <td>
            <label></label>
            <input name="remind" type="submit" value="{% blocktrans %}Reset my password{% endblocktrans %}"/>
        </td>
    </tr>
    </tbody>
</table>
</form>
{% else %}
<center>
{% blocktrans %}This link is invalid.{% endblocktrans %}


<br />

<a href="{% url forgot-pw %}">{% blocktrans %}Forgot password?{% endblocktrans %}</a>

</center>

<br />
<br />
<br />
{% endif %}
{% endblock %}
