{% load i18n %}
<div id="login_container">

<form id="login" enctype="multipart/form-data" class="wizard-form" action="{% url login %}" method="post">

<div class="underline_border">
{% blocktrans with CONF.workspace_name as wname %}{{ wname }} Login{% endblocktrans %}
</div>


<table class="small_form">
    <tbody>
    {% include "site/macros/form_fields.html" %}
    <tr>
        <td style="vertical-align: top; width: 20%; text-align:right;">
        </td>
        <td>
            <label></label>
            <input name="login" type="submit" value="{% blocktrans %}Login{% endblocktrans %}"/>           
            {% if CONF.workspace_registration %}<br/><a href="{% url register %}">{% blocktrans %}Register{% endblocktrans %}</a>{% endif %}
            <br /><a href="{% url forgot-pw %}">{% blocktrans %}Forgot password?{% endblocktrans %}</a>
        </td>
    </tr>
    </tbody>
</table>

{% if request.GET.next %}
<input type="hidden" name="next" value="{{ request.GET.next }}">
{% endif %}
{% if request.GET.q %}
<input type="hidden" name="q" value="{{ request.GET.q }}">
{% endif %}

</form>

</div>
