{% extends "site/layout/base_workspace.html" %}
{% load com %}
{% load i18n %}
{% load local_perms %}
{% load activity %}

{% block head %}
{% endblock %}

{% block title %}{% blocktrans %}Home{% endblocktrans %}{% endblock %}

{% block content %}

<h1 class="main_title">
{% if CONF.f_get_logo_url %}
<div><a title="{% blocktrans %}back to workspace{% endblocktrans %}" alt="logo" class="title" href="{% url index %}"><img src="{{ CONF.f_get_logo_url }}" /></a></div>
{% endif %}

{% if CONF.workspace_name %}
<a title="{% blocktrans %}back to workspace{% endblocktrans %}" class="title" href="{% url index %}">{{ CONF.workspace_name }}</a>
{% endif %}
</h1>

{% if object_list %}
<table class="home-table">
<tr>
<td width="60%" style="vertical-align:text-top;">
<h2>{% blocktrans count public_texts_nb as public_texts_nb %}One public text{% plural %}{{ public_texts_nb }} public texts{% endblocktrans %}</h2>
<ul>
{% for text in object_list %}
<li style="padding-bottom:10px;"><a title="{{ text.title }}" href="{% url text-view text.key %}">{{ text.title }}</a>
<br/>
{% include "site/macros/text_meta.html" %}   
</li>
{% endfor %}
</ul>
{% include "site/macros/paginator.html" %}
</td>
<td width="39%" style="vertical-align:text-top;">
{% include "site/login_form.html" %}
</td>
</tr>
</table>
{% else %}
{% include "site/login_form.html" %}
{% endif %}


{% endblock %}
