{% extends "site/layout/base_workspace.html" %}
{% load i18n %}
{% load com %}

{% block head %}
{% endblock %}

{% block title %}{% blocktrans %}Deactivate notification{% endblocktrans %}{% endblock %}

{% block content %}

<h1 class="main_title"><a class="title" href="{% url index %}">{{ CONF.workspace_name }}</a></h1>

<div id="login_container">

<form id="login" enctype="multipart/form-data" class="wizard-form" action="." method="post">

<div class="underline_border">
{{ title }}
</div>


<table class="small_form">
    <tbody>
    {% include "site/macros/form_fields.html" %}
    <tr>
        <td style="vertical-align: top; width: 20%; text-align:right;">
        </td>
        <td>
            <label></label>
            <input name="desactivate" type="submit" value="{% blocktrans %}Deactivate{% endblocktrans %}" />
		    <input name="cancel" type="button" id="cancel_button" value="{% blocktrans %}Cancel{% endblocktrans %}" />
			<input type="hidden" name="adminkey" value="{{ notification.adminkey }}">		    
		    <script type="text/javascript">
		    <!--
		    $(document).ready(function(){
		        $("#cancel_button").click(function (e) { 
		            window.location = "{% url index %}";
		            e.stopPropagation(); 
		          });                
		    }) ;
		    -->
		    </script>
            
        </td>
    </tr>
    </tbody>
</table>

</form>

</div>
{% endblock %}
