{% extends "site/layout/base_workspace.html" %}
{% load com %}
{% load i18n %}

{% block title %}
{% blocktrans with user.username as username %}Your profile ({{ username }}){% endblocktrans %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<h1 class="main_title">
{% if CONF.f_get_logo_url %}
<div><a title="{% blocktrans %}back to workspace{% endblocktrans %}" alt="logo" class="title" href="{% url index %}"><img src="{{ CONF.f_get_logo_url }}" /></a></div>
{% else %}

{% if CONF.workspace_name %}
<a title="{% blocktrans %}back to workspace{% endblocktrans %}" class="title" href="{% url index %}">{{ CONF.workspace_name }}</a>
{% endif %}
{% endif %}
</h1>
<h1>{% blocktrans with user.username as username %}Your profile ({{ username }}){% endblocktrans %}</h1>

<ul class="sub_list">
    <li class="active_sub">{% blocktrans %}Profile{% endblocktrans %}</li>
    <li> / </li>
    <li><a href="{% url profile-pw %}">{% blocktrans %}Password{% endblocktrans %}</a></li>
</ul>

<form id="profile" enctype="multipart/form-data" class="wizard-form" action="." method="post">
<table class="wide_form">
    <tbody>
        {% for form in forms %}
            {% include "site/macros/form_fields.html" %}
        {% endfor %}
    <tr>
        <td style="vertical-align: top; width: 20%; text-align:right;">
        </td>
        <td>
            <label></label>
            <input name="save" type="submit" value="{% blocktrans %}Save{% endblocktrans %}"/>
        </td>
    </tr>
    </tbody>
</table>
</form>
{% endblock %}
