{% extends "site/layout/base_text.html" %}
{% load com %}

{% block head %}
{% endblock %}

{% block main %}

<script type="text/javascript">
<!--
sv_media_url = "{{ MEDIA_URL|escapejs}}" ; 

tb_conf['current_tab'] = 'view';
-->
</script>


<!-- <div style="clear:right;">-->
<!-- border-width: 0pt;     frameborder="0" -->
<div id="autoexpand_text_view_frame_container">
<center>
{% autoescape off %}
{{ embed_code }}
{% endautoescape %}
<!-- <iframe id="text_view_frame" name="text_view_frame" style="height:400px;width:99.9%;"  frameborder="0" src ="{% url text-view-comments-frame-version text.key text_version.key %}?{{ request.GET.urlencode }}"/>  --> 
</center>
</div>

{% autoescape off %}
{{ text_version.get_content }}
{% endautoescape %}

{% endblock %}
