{% extends "site/layout/base_text.html" %}
{% load com %}
{% load i18n %}
{% load local_perms %}
{% block main %}

{% get_local_text_perm request text can_edit_text as can_edit_text %}

<script type="text/javascript">
<!--
tb_conf['current_tab'] = 'history';
-->
</script>

<div id="text_history" class="tab-meta">   

<script type="text/javascript">
<!--
$(function() {
    $(".hidden-text-actions").css('visibility','hidden');   
}) ;
-->

</script>


<ul class="sub_list">
    <li><a href="{% url text-history text.key %}">{% blocktrans %}Version list{% endblocktrans %}</a></li>
    <li> / </li>
    <li><a href="{% url text-history-version text.key v1.key %}">{% blocktrans with v1.get_version_number as version_number %}Version {{ version_number }}{% endblocktrans %}</a></li>
    <li> / </li>
    <li class="active_sub">{% blocktrans with v1.get_version_number as version_1_number and v2.get_version_number as version_2_number %}Comparison between version #{{ version_1_number }} and #{{ version_2_number }}{% endblocktrans %}</li>
    <li> / </li>
    <li><a href="{% url text-history-version text.key v2.key %}">{% blocktrans with v2.get_version_number as version_number %}Version {{ version_number }}{% endblocktrans %}</a></li>
    <li> / </li>
    <li><a href="{% url text-history-version text.key text.last_text_version.key %}">{% blocktrans %}Most recent version{% endblocktrans %}</a></li>    
</ul>

<div style="clear:both;"></div>

{% autoescape off %}
{% if empty %}
<center>{% blocktrans %}No differences{% endblocktrans %}</center>
{% else %}
{{ content }}
{% endif %}
{% endautoescape %}

</div>
{% endblock %}
