{% extends "site/layout/base_text.html" %}
{% load com %}

{% block head %}
<style>
#footer {
    display:none ;
}
</style>
{% endblock %}

{% block main %}

<script type="text/javascript">
<!--
sv_media_url = "{{ CM_MEDIA_PREFIX|escapejs}}" ; 

tb_conf['current_tab'] = 'view';
-->
</script>


<!-- <div style="clear:right;">-->
<!-- border-width: 0pt;     frameborder="0" -->
<div id="autoexpand_text_view_frame_container">
<center>
{% autoescape off %}
{{ embed_code }}
{% endautoescape %}
</center>
</div>

{% endblock %}
