{% extends "site/layout/base.html" %}
{% load i18n %}

{% block content %}
<h1 class="main_title">
{% if CONF.f_get_logo_url %}
<div><a title="{% blocktrans %}back to workspace{% endblocktrans %}" alt="logo" class="title" href="{% url index %}"><img src="{{ CONF.f_get_logo_url }}" /></a></div>
{% endif %}

{% if CONF.workspace_name %}
<a title="{% blocktrans %}back to workspace{% endblocktrans %}" class="title" href="{% url index %}">{{ CONF.workspace_name }}</a>
{% endif %}
</h1>
<h1>{% blocktrans %}Unauthorized{% endblocktrans %}</h1>


{% endblock %}
