{% extends "site/layout/base_workspace.html" %}
{% load com %}
{% load i18n %}

{% block title %}
{% blocktrans %}Contact user{% endblocktrans %}
{% endblock %}

{% block main %}

<script type="text/javascript">
<!--
tb_conf['current_tab'] = 'user';
-->
</script>

<div id="user" class="tab-meta">

<ul class="sub_list">
    <li><a href="{% url user %}">{% blocktrans %}People' list{% endblocktrans %}</a></li>
    <li> / </li>
    <li><a href="{% url user-add %}">{% blocktrans %}Add a new user{% endblocktrans %}</a></li>
    <li> / </li>
    <li><a href="{% url user-mass-add %}">{% blocktrans %}Add users in bulk{% endblocktrans %}</a></li>    
    <li> / </li>
    <li class="active_sub">{% blocktrans with recipient_profile.admin_print as username %}Contact user {{ username }}{% endblocktrans %}</li>    
</ul>

<br /><br />

<form enctype="multipart/form-data" class="wizard-form" action="." method="post">

<table summary="form" class="wide_form">
    <tbody>
    {% if form %}
        {% include "site/macros/form_fields.html" %}
    {% endif %}

    {% if forms %}
        {% for form in forms %}
            {% include "site/macros/form_fields.html" %}
        {% endfor %}
    {% endif %}
    
    <tr>
        <td style="vertical-align: top; width: 20%; text-align:right;">
        </td>
        <td>
            <label></label>
            <input name="send" type="submit" value="{% blocktrans %}Send{% endblocktrans %}"/>

            <input name="cancel" type="button" id="cancel_button" value="{% blocktrans %}Cancel{% endblocktrans %}"/>
            <script type="text/javascript">
            <!--
            $(document).ready(function(){
                $("#cancel_button").click(function () { 
                    window.location = "{% url user %}"; 
                  });                
            }) ;
            -->
            </script>                        
        </td>
    </tr>
    </tbody>
</table>

</form>

</div>
{% endblock %}
