{% load i18n %}
<div class="footer">

<div id="footerbar">
<div class="footlinks">
<ul class="navlinks">
    <li><a href="#">{% blocktrans %}About{% endblocktrans %}</a></li>
    <li>&#183;</li>
    <li><a href="{% url contact %}">{% blocktrans %}Contact{% endblocktrans %}</a></li>
    <li>&#183;</li>
    <li>
    {% for lang in LOCAL_LANGUAGES %}
        {% ifequal lang.0 LANGUAGE_CODE %}
            {{ lang.1 }}
        {% else %}
            <a title="{{ lang.1 }}" href="{% url setlang lang.0 %}">{{ lang.1 }}</a>
        {% endifequal %}
        {% if not forloop.last %}
        &nbsp;/&nbsp; 
        {% endif %}
    {% endfor %}
    </li>
    <li>&#183;</li>
    <li><a id="sopinspacelink" href="http://www.sopinspace.com">&copy; 2007-{% now "Y" %} Sopinspace</a></li>
    <li>&#183;</li>    
    <li><a href="{% url help %}">{% blocktrans %}Help{% endblocktrans %}</a></li>
</ul>
</div>
</div>
</div>
