{% load i18n %}
<div class="footer">

<div id="footerbar">
<div class="footlinks" style="padding-top: 10px;">
<span class="navlinks navleft">
    <a href="{% url contact %}">{% blocktrans %}Contact{% endblocktrans %}</a>
    &#183;
    <a id="comentlink" title="co-ment" href="http://www.co-ment.com">Powered by <img src="{{ CM_MEDIA_PREFIX }}img/logo-co-ment-50.png"></img></a>
    &#183;    
    <a href="{% url help %}">{% blocktrans %}Help{% endblocktrans %}</a>
    
    &#183;
    {% for lang in LOCAL_LANGUAGES %}
        {% ifequal lang.0 LANGUAGE_CODE %}
            {{ lang.1 }}
        {% else %}
            <a title="{{ lang.1 }}" href="{% url setlang lang.0 %}">{{ lang.1 }}</a>
        {% endifequal %}
        {% if not forloop.last %}
        &nbsp; 
        {% endif %}
    {% endfor %}
    
    
</span>
<span class="navlinks navright">    
    
</span>
</div>
</div>
</div>
