    <script type="text/javascript" src="{{ CM_MEDIA_PREFIX }}js/lib/yui/{{ YUI_VERSION }}/build/yui/yui-{% if CLIENT_DEBUG  %}debug{% else %}min{% endif %}.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ CM_MEDIA_PREFIX }}js/lib/yui/{{ YUI_VERSION  }}/build/cssreset/reset-min.css"/> 
    <link rel="stylesheet" type="text/css" href="{{ CM_MEDIA_PREFIX }}js/lib/yui/{{ YUI_VERSION  }}/build/cssfonts/fonts-min.css"/> 
    <link rel="stylesheet" type="text/css" href="{{ CM_MEDIA_PREFIX }}js/lib/yui/{{ YUI_VERSION  }}/build/cssbase/base-min.css"/>
